<script lang="ts" setup>
import { ref } from "vue";

const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);
const Items = ref<any>([]);
const priceproduct = ref(0);
const Add = (product: any) => {
  Items.value.push(product);
  priceproduct.value += product.price;
};
</script>
<template>
  <v-row>
    <v-col cols="6">
      <v-container style="height: 90vh; overflow-y: auto">
        <v-row>
          <v-col v-for="product in products" :key="product.id" cols="4">
            <v-card width="150px" height="115px">
              <v-card-title class="text-center">{{
                product.name
              }}</v-card-title>
              <v-card-subtitle class="text-center">{{
                product.price
              }}</v-card-subtitle>
              <div class="text-center">
                <v-btn @click="Add(product)">ADD</v-btn>
              </div>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-col>
    <v-col>
      <v-row
        ><v-container style="height: 70vh; overflow-y: auto">
          <v-table>
            <thead>
              <tr>
                <th class="text-left">ID</th>
                <th class="text-left">Name</th>
                <th class="text-left">Price</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in Items" :key="item.id">
                <td>
                  <h4>{{ item.id }}</h4>
                </td>
                <td>
                  <h4>{{ item.name }}</h4>
                </td>
                <td>
                  <h4>{{ item.price }}</h4>
                </td>
              </tr>
            </tbody>
          </v-table>
          <div class="text-center my-5">
            <h3 v-if="Items.length == 0">NO Data</h3>
          </div>
        </v-container></v-row
      >
      <v-row class="ma-6 my-6"
        ><div>
          <h1>SUM:{{ priceproduct }}</h1>
        </div></v-row
      >
    </v-col>
  </v-row>
</template>
