<script lang="ts" setup>
import { ref } from "vue";
const Name = ref("Smile");
const Img = ref("feeling_imgs/smile.png");

function Smile() {
  Name.value = "Smile";
  Img.value = "feeling_imgs/smile.png";
}
function Cute() {
  Name.value = "Cute";
  Img.value = "feeling_imgs/cute.png";
}
function Angry() {
  Name.value = "Angry";
  Img.value = "feeling_imgs/angry.png";
}
function Shock() {
  Name.value = "Shock";
  Img.value = "feeling_imgs/shocked.png";
}
function Excited() {
  Name.value = "Excited";
  Img.value = "feeling_imgs/excited.png";
}
function Pain() {
  Name.value = "Pain";
  Img.value = "feeling_imgs/pain.png";
}
</script>
<template>
  <v-container>
    <v-row>
      <v-col>
        <v-card><v-img :src="Img" width="500px" cover></v-img></v-card>
      </v-col>
      <v-col>
        <div class="text-center">
          <h1>{{ Name }}</h1>
        </div>
        <v-btn height="60px" width="600px" class="ma-5 my-3" @click="Smile"
          ><h3>Smile</h3></v-btn
        >
        <v-btn height="60px" width="600px" class="ma-5 my-3" @click="Cute"
          ><h3>Cute</h3></v-btn
        >
        <v-btn height="60px" width="600px" class="ma-5 my-3" @click="Angry"
          ><h3>Angry</h3></v-btn
        >
        <v-btn height="60px" width="600px" class="ma-5 my-3" @click="Shock"
          ><h3>Shock</h3></v-btn
        >
        <v-btn height="60px" width="600px" class="ma-5 my-3" @click="Excited"
          ><h3>Excited</h3></v-btn
        >
        <v-btn height="60px" width="600px" class="ma-5 my-3" @click="Pain"
          ><h3>Pain</h3></v-btn
        >
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
button:focus {
  background: rgb(255, 255, 0);
}
</style>
