<script setup lang="ts">
import FirstComponent from "@/components/FirstComponent.vue";
import SecondComponent from "@/components/SecondComponent.vue";
import { ref } from "vue";
const props = withDefaults(
  defineProps<{
    rating: number;
    index: number;
  }>(),
  {
    rating: 0,
  }
);
const emits = defineEmits<{
  (e: "change", index: number, rating: number): void;
}>();

const count = ref(props.rating);
function inc() {
  count.value++;
  emits("change", props.index, count.value);
}
function dec() {
  if (count.value != 0) count.value--;
  emits("change", props.index, count.value);
}
</script>
<template>
  <div>
    <v-container>
      <v-row>
        <v-col>
          <FirstComponent></FirstComponent>
          <div v-if="count >= 0">{{ count }}</div>
          <v-btn @click="inc()">INCREMENT</v-btn>
        </v-col>

        <v-col>
          <SecondComponent></SecondComponent>
          <div v-if="count >= 0">{{ count + count }}</div>
          <v-btn @click="dec()">DECREASE</v-btn>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
